body {
  background-color: white;
  padding: 0;
  margin: 0;
}

/* header */

#head {
  background: linear-gradient(76deg, rgb(0, 54, 153), rgb(0, 84, 255) 99%);
  height: 8em;
}
.logo img {
  width: 5em;
  height: 5em;
  border-radius: 10%;
  margin: 2% 5%;
}
.search-bar{
    position: absolute;
    right: 20%;
    top: 6%;
    width: 50%;
    margin: 0 auto;
}
.search-btn{
    position: relative;
    left: 5%;
    width: 30%;
}

/* filter */

.filters{
    margin: 2em;
    text-align: center;
    border-top-color: white;
    display: inline-block;
    position: absolute;

}
.filters ul li{
    margin: 0 auto;
    border-color: white;
}

/* Search results */

.result-list{
    display: inline-block;
    position: absolute;
    right: 2%;
    margin: 2em;
    width: 70%;
    border: 2px solid  rgb(0, 54, 153);
}

.list-name{
    margin: 2em 0;
}
.result-btn{
    margin-top: 1em;
}
.result-list h5{
    position: absolute;
    top: 5.5em;
}
.result-img{
    width: 10em;
    height: 10em;
    border-radius: 100%;
}
.col-item{
    position: relative;
}
.list-group-item{
    border-color: white;

}
.hidden-img{
    width: 6em;
    height: 6em;
    position: absolute;
    z-index: 1;
    right: 1em;
    float: right;
    margin: 1em;
    border-radius: 100%;
}
.col-item2, .col-item4{
    left: 50%;
}
.collapse{
    
}